[user]
	email = soya.miyoshi@gmail.com
	name = Soya Miyoshi
[alias]
	co = checkout
	s = status .
	st = status
[init]
	defaultBranch = main
[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = manager
	credentialStore = keychain
{{- else }}
	helper = cache --timeout=3600
{{- end }}
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	verbose = true
[merge]
	conflictStyle = diff3
[push]
	autoSetupRemote = true
